{{template "header.html" .}}
<form id="form" onsubmit="return false">
    Host:
    <input name="host" value="127.0.0.1"><br>
    Port:
    <input name="port" value="6379"><br>
</form>
<button onclick="checkConn()">next</button>

<script>
function checkConn() {
    $.ajax({
        url: '/api/CheckConn',
        type: 'POST',
        data: $('#form').serialize(),
        success: function(d){
            console.log(d)
            if(d.Code != 101) return alert(d.Msg)
            window.location.href = 'signup'
        }
    })
}
</script>
{{template "footer.html" .}}